.areaSection {
  padding: 80px 40px 40px 40px;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(221, 221, 221);
}

.light {
  background-color: white;
}

.dark {
  background-color: rgb(250, 250, 250);
}

.areaText {
  margin: 0 100px;
}

.areaText h2 {
  margin: 0;
  color: rgb(99, 99, 99);
}

.areaText h3 {
  margin: 10px 30px 30px 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(221, 221, 221);
  font-size: 22px;
  min-width: 180px;
}

@media (max-width: 769px) {
  .areaSection {
    padding: 40px 20px 20px 20px;
  }

  .areaText {
    margin: 0 20px;
  }
}