.tab-bar {
  background-color: rgba(33, 37, 41, 0.7);
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 2000;
  align-items: center;
  transition: background-color 0.3s;
}

.logo {
  padding: 14px;
  color: white;
  font-weight: 700;
}

.scrolled {
  background-color: rgb(33, 37, 41);
}

.menu {
  position: relative;
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  display: flex;
  align-items: center;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: #FF4D00;
}

.menu > li ul {
  position: absolute;
  list-style: none;
  top: 90%;
  padding: 5px 0;
  background-color: white;
  width: 170px;
  box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
}

.menu > li:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu > li ul li {
  border-bottom: 1px solid rgb(225, 225, 225);
}

.menu > li ul li:last-child {
  border-bottom: none;
}

.menu > li ul a {
  color: #252525;
  padding: 10px 20px;
}

.active {
  border-bottom: 2px solid #FF4D00;
  color: #FF4D00;
}

.dropdownIcon {
  padding-left: 10px;
  color: #FF4D00;
  transition: color 0.3s;
}

.menu a:hover .dropdownIcon {
  color: white;
}

@media(max-width: 768px) {
  .menu {
  display: none;
  }
}
