.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
  align-items: flex-start;
}

.info {
  flex: 1;
  min-width: 200px;
}

.info p {
  color: #636363;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 400;
  margin-bottom: 0;
}

.info > a {
  display: block;
  color: #252525;
  font-weight: 600;
  text-decoration: none;
  outline: none;
  transition: color 0.3s;
  white-space: pre-wrap;
}

.info a:hover {
  color: #FF4D00;
}

@media(max-width: 768px) {
  .row {
    flex-direction: column;
  }
}