.topic {
  text-align: start;
}

.experiences-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  gap: 18px;
}

@media(max-width: 768px) {
  .experiences-area {
    gap: 9px;
  }
}