.tab-bar {
  background-color: rgba(33, 37, 41, 0.7);
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 2000;
  align-items: center;
  transition: background-color 0.3s;
}

.logo {
  padding: 14px;
  color: white;
  font-weight: bold;
}

.scrolled {
  background-color: rgb(33, 37, 41);
}

.menu {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
  transition: color 0.3s;
}

.menu a:hover {
  color: #FF4D00;
}

.active {
  border-bottom: 2px solid #FF4D00;
  color: #FF4D00;
}

@media(max-width: 769px) {
  .menu {
  display: none;
  }
}
