.topic {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 22px;
}

.skills-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20px;
}

.skillItem {
  display: flex;
  flex-direction: column;
  flex: 0 0 33.3%;
  align-items: center;
  color: #252525;
  word-break: break-word;
}

.iconSkill {
  width: 70px;
  height: 70px;
}