.topic {
  text-align: center;
}

.skills-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.skillItem {
  display: flex;
  flex-direction: column;
  flex: 0 0 33.3%;
  align-items: center;
  color: #252525;
  word-break: break-word;
}

.iconSkill {
  width: 70px;
  height: 70px;
}

@media(max-width: 480px) {
  .skillItem {
    flex: 0 0 100%;
  }
}