.topic {
  text-align: start;
}

.experience-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
}

.experienceItem {
  display: flex;
  flex-direction: column;
  flex: 0 0 33.3%;
  align-items: center;
  color: #252525;
  word-break: break-word;
}

.box {
  width: 100%;
  border-radius: 12px;
  background-color: white;
  padding: 10px 10px 0 10px;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.photoExperience {
  width: 300px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}