.topic {
  text-align: start;
}

.experience-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  gap: 20px;
}

.experienceItem {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(33.3% - 13.33px);
  min-width: 150px;
  background-color: white;
  border-radius: 12px;
  padding: 10px;
  color: #252525;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.photoExperience {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.title {
  font-size: 22px;
  margin: 0;
}

.code {
  color: #636363;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.description {
  white-space: pre-wrap;
  word-break: break-word;
  margin-bottom: 0;
}

@media(max-width: 768px) {
  .experienceItem {
    flex: 0 0 calc(50% - 10px);
    min-width: 100px;
  }
}