.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
  align-items: flex-start;
}

.info {
  flex: 1;
  min-width: 200px;
}

.info p {
  color: #636363;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 400;
  margin-bottom: 0;
}

.info a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  outline: none;
}

@media(max-width: 769px) {
  .row {
    flex-direction: column;
  }
}